# Datajud API Key (Public Key from Wiki CNJ)
# Get the current key at: https://datajud-wiki.cnj.jus.br/api-publica/acesso
DATAJUD_API_KEY=cDZHYzlZa0JadVREZDJCendQbXY6SkJlTzNjLV9TRENyQk1RdnFKZGRQdw==

# Mercado Pago Test Keys
MERCADOPAGO_ACCESS_TOKEN=
VITE_MERCADOPAGO_PUBLIC_KEY=
